<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="UTF-8">

  <title>main burgers</title>

  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

  {{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}

	</head>

	<body>

		{{{ body }}}

    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
    </script>

    <script src="/assets/js/cats.js"></script>

	</body>

</html>